shorts/*
build-*
*.backup
*.pro.user
*.pro.user.*
*.txt.user
*.copy
client/for-google-play
client/ic_launcher-icons
client/android/.gradle/*
client/build/*
*.old
*.qmlc
temp/*
installers/*
client/varia/*
server/varia/*
arved
.directory
.DS_STORE
.DS_Store
AppDir
.qtc_clagd/*
