[Desktop Entry]
Comment[en_US]=Server app for vClick system
Comment=Server app for vClick system
Exec=vclick-server
GenericName[en_US]=vClick Server
GenericName=vClick Server
Icon=vclick-server
MimeType=
Name[en_US]=vClick Server
Name=vClick Server
StartupNotify=true
Terminal=false
Type=Application
Categories=AudioVideo;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-AppImage-Name=vclick-client
X-AppImage-Version=2.0.0-rc2
X-AppImage-Arch=x86_64
