[Desktop Entry]
Name=vClick Server
Comment=vClick server
Exec=vclick-server
GenericName=vClick Server
Icon=vclick-server
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
Categories=Utility

